@font-face {
    font-family: bloodFont;
    src: url(../resources/bloodlustexpand.ttf);
}

body{
    right: 50%;
    background-image: url("../resources/bloodBack.png"), url("../resources/preto.png");;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center top;
}

#titulo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    font: bold 20px helvetica;
    right: -400px;
    top: 10px;
}

button {
    border-style: none;
    text-align: center;
    outline: 0;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
}

#dei{
    position: absolute;
    cursor: default;
    color: #800000;
    font: bold 70px bloodFont;
    left: 45%;
    top: 10%;
}

#creditos{
    position: absolute;
    cursor: default;
    color: #990000;
    font: bold 50px bloodFont;
    left: 35%;
    top: 25%;
}

#soundBtnImg{
    position: absolute;
    left: 69%;
    top: 64%;
    width: 5%;
    height: 10%;
}

#backBtnImg{
    position: absolute;
    left: 27%;
    top: 64%;
    width: 5%;
    height: 10%;
}